@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
    font-family: 'Inter', sans-serif;
}

@layer base {
    html, body {
        @apply bg-gray-100 text-gray-800
    }

    .dark body {
        @apply bg-gray-900 text-white;
    }

    .navbar-btn {
        @apply dark:bg-gray-700 bg-gray-300 dark:text-gray-300 dark:hover:text-gray-100 
        text-gray-800 hover:text-gray-600 p-2 rounded-md
    }
}
