@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
    font-family: 'Inter', sans-serif;
}

@layer base {
    html {
        @apply bg-gray-800 text-gray-100
    }

    .navbar-btn {
        @apply bg-gray-800 text-gray-300 hover:text-gray-100 p-2 rounded-md
    }
}
