@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
    font-family: 'Inter', sans-serif;
}

@layer base {
    html, body {
        @apply bg-gray-100 text-gray-800
    }

    .dark body {
        @apply bg-gray-900 text-white;
    }

    .navbar-btn {
        @apply dark:bg-gray-700 bg-gray-300 dark:text-gray-300 dark:hover:text-gray-100 
        text-gray-800 hover:text-gray-600 p-2 rounded-md
    }

    .field-container {
        @apply flex flex-col gap-1 w-full
    }

    .input-label {
        @apply text-gray-500 dark:text-gray-400 text-base font-medium
    }

    .input-field {
        @apply dark:bg-gray-900 bg-gray-100 dark:text-gray-300 dark:hover:text-gray-100 
        text-gray-800 hover:text-gray-600 p-2 rounded-md w-full border border-gray-300 dark:border-gray-600
        focus:outline-gray-800 dark:focus:outline-gray-500
    }

    .btn {
        @apply dark:bg-gray-700 bg-gray-700 dark:text-gray-300 dark:hover:text-gray-100 
        text-gray-300 hover:text-gray-200 p-2 rounded-md w-full
    }
}
